.footer_main{
    margin-top:2rem;
    background-color: #f8ebff;
    margin-bottom:0;
    box-shadow:1px 1px 4px 0px #9787bb;
}
.footer_desc{
    padding:0.5rem;
    color:black;
    font-size:0.9rem;
}
