.main_header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 1.5rem;
}
.header_logo{
    font-family: 'Monaco', 'Courier New', monospace;
    font-size:2rem;
    font-weight: 800;
}
.header_socialLists{
    display:flex;
    flex-direction: row;
    gap:1rem;
    align-items: center;
}
.socialLists{
    cursor:pointer;
}
.socialLists img{
    filter: invert(36%) sepia(97%) saturate(7449%) 
    hue-rotate(244deg) brightness(101%) contrast(103%);
    transition: transform 0.3s linear;
}
.socialLists img:hover{
    transform:scale(1.1);
}
.github_logo{
    width:45px;
    height:45px;
}
.gmail_logo{
    width:28px;
    height:24px;
}
.linkdin_logo{
    width:30px;
    height:30px;
    margin-left:0.5rem;
}
.twitter_logo{
    width:30px;
    height:30px;
    margin-left:0.5rem;
}
@media screen and (max-width:725px) {
    .main_header{
        display:flex;
        flex-direction:column;
        gap:0.5rem;
    }
}