.intro_main{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
    margin-top:1.5rem;
    align-items: center;
}
.intro_left{
    padding:0.5rem;
}
.intro_right{
    grid-column: 2 / span3;
    padding:0.5rem;
    text-align:left;
}
.introPic_wrapper{
    width:100%;
    width:auto;
    margin:0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow:0px 0px 8px 1px #9787bb;
    border-top-left-radius: 50%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 50%;
    animation: wrapper 5s linear infinite alternate-reverse;
}
@keyframes wrapper{
    100%{
        border-top-left-radius: 25%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 5%;
    }
}
.intro_left img{
    width:100%;
    height:auto;
    object-fit: cover;
}
.intro_right h1, .intro_right h3{
    text-align:start;
    padding:0rem 1rem;

}
.intro_right p{
    font-size:1rem;
    text-align:start;
    padding:0.5rem 1rem;
    line-height:1.5rem;
    word-spacing: 0.15rem;
    letter-spacing: 0.05rem;
}
.curveFlat{
    width:50px;
    height:50px;
    filter: invert(87%) sepia(12%) saturate(1328%) hue-rotate(109deg) brightness(79%) contrast(82%);
    position:relative;
    top:1rem;
    left:0.5rem;
    opacity:0.8;
    animation: curveFlat 4s infinite linear alternate-reverse;
}
@keyframes curveFlat{
    0%{transform: scale(0.8);}
    100%{transform: scale(1.2);}
}

@media screen and (max-width:725px) {
    .intro_main{
        grid-template-columns: repeat(1,1fr);
    }
    .introPic_wrapper{
        width:90%;
        height:auto;
    }
    .intro_right h1, .intro_right h3{
        text-align:start;
        padding:0rem;
        margin-top:0rem;
    }
    .intro_right p{
        font-size:0.9rem;
        text-align:start;
        padding:0rem;
        line-height:1.1rem;
        word-spacing: 0.1rem;
        letter-spacing: 0.05rem;
        margin-top:0rem;
    }
    .intro_right{
        grid-column:unset;
    }
    .curveFlat{
        top:0;
        left:0.2rem;
    }
}