.navigation_main{
    margin-top:1rem;
    background-color:#f8ebff;
    padding:0.5rem 0rem;
    box-shadow:1px 1px 4px 0px #9787bb;
    border-radius:0 0 0.8rem 0.8rem;
    overflow: hidden;
}
.mobnav_control{
    display:none;
}
.nav_control{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    padding:0.5rem;
}
.manu_open, .manu_close{
    display:none;
}
.navLists{
    cursor:pointer;
    transition: transform 0.3s linear;
}
.navLists:hover{
    transform: scale(1.1);
}
.navLists a{
    text-decoration: none;
    color:#3d37ff;
}

@media screen and (max-width:725px){
    .nav_control{
        display:none;
    }
    .mobnav_control{
        display:block;
        padding-bottom:1.5rem;
    }
    .navigation_main img{
        filter: invert(18%) sepia(60%) saturate(7465%) hue-rotate(245deg) brightness(102%) contrast(101%);
        padding-left:0.5rem;
    }
    .manu_open{
        display:block;
        width:40px;
        height:40px;
    }
    .manu_close{
        display:block;
        width:50px;
        height:50px;
    }
    .mob_navLists{
        margin-bottom:1rem;
    }
}