.skills_main{
    margin-top:2rem;
}
.skills_control{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    padding:1.5rem 0.5rem;
}
.skills_contents{
    background-color: #f8ebff;
    padding:0.5rem;
    margin-top:0.5rem;
    box-shadow:0px 0px 8px 1px #9787bb;
    border-radius: 0 0 0.8rem 0.8rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s linear;
}
.skills_contents:hover{
    transform: translateY(10%);
}
.skills_contents:hover .skills_percentageOuter{
    background-color: #9787bb;
}
.skills_control img{
    width:50px;
    height:auto;
    font-size:0.8rem;
}
.skills_langAlign{
    display:flex;
    flex-direction: row;
    gap:1rem;
    align-items:center;
}
.skills_percentageOuter{
    margin-top:1rem;
    width:100%;
    height:30px;
    background-color: #f8ebff;
    border-radius: 20px;
    border:1px solid rgb(194, 183, 183);
    box-shadow: inset 1px 1px 8px 0px rgba(22, 22, 22,0.8);
    transition: background-color 0.3s linear;
}
.skills_percentageInner{
    height:30px;
    background-color: #67baa7;
    position:relative;
    border-radius: 20px;
    box-shadow:2px 0px 1px 0px rgba(0, 0, 0,0.1);
}
.skills_percentage{
    position:absolute;
    top:-0.5rem;
    left:0.5rem;
    color:white;
}
.github_percentageInner,
.html_percentageInner,
.ard_percentageInner{
    width:0%;
}
.gha_style{
    width:0%;
    animation:gha 1.5s linear forwards;
}
@keyframes gha{
    100%{
        width:90%;
    }
}
.css_percentageInner,
.mongo_percentageInner,
.express_percentageInner{
    width:0%;
}
.cme_style{
    width:0%;
    animation:cme 1.3s linear forwards;
}
@keyframes cme{
    100%{
        width:80%;
    }
}
.js_percentageInner,
.react_percentageInner,
.node_percentageInner,
.redux_percentageInner{
    width:0%;
}
.jrnr_style{
    width:0%;
    animation:jrnr 1.1s linear forwards;
}
@keyframes jrnr{
    100%{
        width:70%;
    }
}
.ps_percentageInner {
    width:0%;
}
.ps_style{
    width:0%;
    animation:ps 0.9s linear forwards;
}
@keyframes ps{
    100%{
        width:60%;
    }
}
.aiml_percentageInner{
    width:0%;
}
.aiml_style{
    width:0%;
    animation:aiml 0.7s linear forwards;
}
@keyframes aiml{
    100%{
        width:50%;
    }
}
.curveLine{
    width:20px;
    height:20px;
    position:absolute;
    right:0;
    top:0;
    transform: rotate(90deg);
    filter: invert(87%) sepia(12%) saturate(1328%) hue-rotate(109deg) brightness(79%) contrast(82%);
}
.skills_header{
    position:relative;
}
.skills_header::after{
    content: " ";
    background-image: url('lighting_arrow.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 0.8rem;
    width: 25px;
    height: 25px;
    opacity: 0.5;
    filter: invert(87%) sepia(12%) saturate(1328%) hue-rotate(109deg) brightness(79%) contrast(82%);
}
@media screen and (max-width:725px) {
    .skills_control{
        grid-template-columns: repeat(1,1fr);
        gap:1rem;
        padding:0.5rem 0rem;
    }
    .skills_header::after{
        background-image: unset;
    }
    .skills_control > div{
        margin-top:0rem;
    }
    .curveLine{
        width:20px;
        height:20px;
        top:0.1rem;
    }
}