.resume_header{
    padding-top:40px;
    font-weight:800;
    text-align:center;
    position:relative;
}
.resume_header::after{
    content: " ";
    background-image: url('../public/lighting_arrow.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 0.8rem;
    width: 25px;
    height: 25px;
    opacity: 0.5;
    filter: invert(87%) sepia(12%) saturate(1328%) hue-rotate(109deg) brightness(79%) contrast(82%);
}
.img_div{
    padding-top:20px;
    padding-bottom:20px;
    margin:0 auto;
    text-align:center;
}
.img_div img{
    border:5px solid #f8ebff;
    margin:5px;
    box-shadow:0px 0px 8px 1px #9787bb;
    border-radius:0 0 0.8rem 0.8rem;
}
.cv_download{
    margin-top:1.5rem;
}
.cv_download a{
    text-decoration:none;
    text-align:center;
    font-size:18px;
    font-weight:600;
    color:rgb(74, 74, 226);
}
.gmap_loc{
    box-shadow:0px 0px 8px 1px #9787bb;
    border-radius:0 0 0.8rem 0.8rem;
}

@media screen and (min-width:0px) and (max-width:768px){
    .resume_header::after{
        background-image: unset;
    }
    .img_div img{
        width:94%;
        height:100%;
    }
}